* {
  margin: 0;
  /* border: 1px solid red; */
}

body {
  color: rgb(255, 255, 255);
  background-color: #3b4664;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* CONTENEDOR DE TODA LA CALCULADORA */
.container {
  width: 500px;
}

/* TOGGLE PARA EDITAR EL CAMBIO DE TEMA */
.toggleTheme {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #000000;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: .5s;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff569;
}

/* PANTALLA DONDE SE MUESTRAN LOS RESULTADOS DE LAS OPERACIONES */
.results {
  background-color: #191f32;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 12px;
  padding-right: 40px;
  padding-top: 15px;
  font-size: 40px;
  border-radius: 8px;
}

.mostrarOperaciones {
  font-size: 25px;
  color: #c3c3c3;
}

/* NÚMEROS Y SIMBOLOS DE OPERACIONES */
.keyboard {
  background-color: #252d44;
  height: 400px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
}

.keyboard__space {
  display: flex;
  gap: 20px;
}

.reset,
.equal {
  width: 200px;
}

.equal {
  background-color: #d03f30;
  color: white;
}

.grey-background {
  background-color:  #ffbb00;
  color: white;
}

button {
  padding: 0.1em 0.25em;
  width: 7.5em;
  height: 4em;
  background-color: #ffbb00;
  border-radius: 0.3em;
  font-size: 12px;
}

button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 4.45em;
  height: 2em;
  background-color: #fcfcbc;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #000000;
  box-shadow: 0 0.4em 0.1em 0.019em #ffffff;
}

button span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #ffd000;
}

button span:not(hover) {
  transition: all 1s;
}


