* {
  margin: 0;
  /* border: 1px solid red; */
}

body {
  color: rgb(255, 255, 255);
  background-color: #3b4664;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* CONTENEDOR DE TODA LA CALCULADORA */
.container {
  width: 500px;
}

/* TOGGLE PARA EDITAR EL CAMBIO DE TEMA */
.toggleTheme {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

/* PANTALLA DONDE SE MUESTRAN LOS RESULTADOS DE LAS OPERACIONES */
.results {
  background-color: #191f32;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 40px;
  font-size: 40px;
  border-radius: 8px;
}

/* NÚMEROS Y SIMBOLOS DE OPERACIONES */
.keyboard {
  background-color: #252d44;
  height: 400px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
}

button {
  width: 90px;
  height: 50px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  background-color: #eae4dd;
}

.keyboard__space {
  display: flex;
  gap: 20px;
}

.reset,
.equal {
  width: 200px;
}

.equal {
  background-color: #d03f30;
  color: white;
}

.grey-background {
  background-color: #647298;
  color: white;
}
